<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Report.Properties.Settings.De1ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=&quot;D:\Tai Nguyen\Bai Tap_ CSharp\On-Tap-Thi-Lan2\On-Tap-Thi-Lan2\bin\Debug\De1.mdb&quot;"
            providerName="System.Data.OleDb" />
        <add name="Report.Properties.Settings.De1ConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\De1.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
